body{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

#upper{
    background: linear-gradient(rgb(73,138,220),rgb(98,59,156));
    display: flex;
    flex: 1;
    flex-direction: column;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: white;
    font-size: 5vw;
}
h3{
    color: mediumblue;
}

#input-section{
    display: flex;
    flex-direction: column;
}

#input-section > p{
    color: white;
}

#box-button{
    display: flex;
}

#choose-city{
    background-color: rgb(46, 49, 146);
    color: white;
    outline: none;
    border: none;
    margin-right: 0;
    padding: 0;
}

#submit-button{
    background-color: rgb(123, 148, 214);
    color: rgb(210,219,226);
    border: none;
    margin-left: 0;
}

#current-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-time {
    order: 1; 
}

#current-icon{
    order: 0; 
}

#current-temp{
    order: 2; 
}


#doppler-image{
   display: none;
}

main{
    display: flex;
}
/* @media (min-width: 500px){
    #doppler-image{
        display: flex;
    }
} */

