body{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

#upper{
    background: linear-gradient(rgb(73,138,220),rgb(98,59,156));
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;  
}

@media(min-width: 500px){
    #upper{
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 5vw;
        padding-right: 5vw;  
    }
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@media(min-width: 500px){
    #introduction{
        order: 0;
        flex: 0 1 100vw;
    }
}

#introduction > h2{
    text-align: center;
}

h2{
    color: white;
    font-size: 10vw;
    padding-top: 16vw;
}

@media(min-width: 500px){
    h2{
        padding-top: 8vw;
        font-size: 5vw;
    }

    .h2-break{
        display: none;
    }
}

h3{
    color: mediumblue;
    padding-top: 5vw;
}

@media(min-width: 500px){
    h3{
        padding-top: 2vw;
        font-size: 4vw;
    }
}

#input-section{
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
}
#input-section > p{
    color: white;
}

@media(min-width: 500px){
    #input-section{
        flex-direction: row;
    }
    #input-section > p{
        padding-right: 1vw;
    }
}



#box-button{
    display: flex;
}

#choose-city{
    background-color: rgb(46, 49, 146);
    color: white;
    outline: none;
    border: none;
    margin-right: 0;
    padding: 0;
    padding-left: 2vw;
}

#submit-button{
    background-color: rgb(123, 148, 214);
    color: rgb(210,219,226);
    border: none;
    margin-left: 0;
}

@media(min-width: 500px){
    #submit-button{
        margin-left: 2vw;
    }
}

#current-forecast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    font-family: 'Saira Extra Condensed', sans-serif;
    flex: 1;
    color: white;
}

@media(min-width: 500px){
    #current-forecast{
        order: 1;
        flex: 1 1 auto;
        width: 20vw;
    }
}

#current-time {
    order: 1;   
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    font-size: 35pt;
    flex-direction: column;
}

@media(min-width: 500px){
    #current-time {
        font-size: 4vw;
    }
}

#current-time > span{
    text-align: center;
}

#current-icon{
    order: 0;  
    flex: 0 1 100vw;
}

@media(min-width: 500px){
    #current-icon{
        height: 20vw;
        width: 20vw;
    }
}

.v1 {
    order:2;
    border-left: 2px solid black;
}

#current-temp{
    order: 3; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    font-size: 85pt;
}

@media(min-width: 500px){
    #current-temp{
        font-size: 8vw;
    }
}

#doppler-images{
    display: none;
    justify-content: space-around;
    clip-path: circle(40%);
}

@media(min-width: 500px){
    #doppler-images{
        order: 2;
        display: flex;
        flex: 0 1 50vw;
    }
}

#topo-map{
    position: relative;
}

#doppler-cities{
    position: absolute;
}

.doppler-img-size{
    max-width: 40vw;
    max-height: 40vw;
    clip-path: circle(40%);
}



#up-arrow{
    border: none;
    background: none;
    display:flex;
    justify-content: space-around;
}

@media(min-width: 500px){
    #up-arrow{
        display: none;
    }
}

#up-arrow > img{
    width: 10vw;
}

#lower{
    display: none;
    justify-content: space-between;
    flex-direction: column;
}

@media(min-width: 500px){
    #lower{
        display: flex;
        flex-direction: row;
    }
}

#lower > div{
    display: flex;
    justify-content: space-evenly;
}

@media(min-width: 500px){
    #lower > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

#down-arrow{
    border: none;
    background: none;
    display:flex;
    justify-content: space-around;
}

@media(min-width: 500px){
    #down-arrow{
        display: none;
    }
}

#down-arrow > img{
    width: 10vw;
}


.time{
    display: flex;
    width: 33vw;
    flex: 2 2 33vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 8vw;
}
.icon{
    display: flex;
    width: 33vw;
    flex: 2 2 33vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temperature{
    display: flex;
    width: 33vw;
    flex: 2 2 33vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20vw;
}

@media(min-width: 500px){
    .time{
        width: 20vw;
        height: 5vw;
        flex-direction: row;
        font-size: 5vw;
    }
    .icon{
        width: 10vw;
        flex-direction: row;
        height: 10vw;
    }
    .temperature{
        width: 20vw;
        flex-direction: row;
        font-size: 10vw;
    }
}


.v2{
    height: 1px;
    background-color: grey;
}


@media(min-width: 500px){
    .v2{
        height: auto;
        border-left: 1px solid grey;
    }
}


